.principalTienda{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
}

.logoTienda img{
    margin-left: 100px;
} 

.principalTienda a{
    text-decoration: none;
    font-size: 20px;
    color: palevioletred;
}

.perfilMenuTienda a{
    font-size: 50px;
}

.carritoTienda a{
    font-size: 50px;
    margin-right: 100px;
}